@model QuanLyRapPhim.Models.MessageViewModel

@{
    ViewData["Title"] = Model.title;
}
<h1>
    @ViewData["Title"]
</h1>
<hr>

<div style="padding-top: calc(.375rem + 1px); padding-bottom: calc(.375rem + 1px);">@Model.content</div>

<a href="@Model.urlRedirect" class="btn btn-primary">Trở về trang chủ</a>