@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
}

<div class="row no-gutters justify-content-between">
    <h1 style="align-self: self-end;">
        @ViewData["Title"]
    </h1>
    <a class="btn btn-primary" asp-action="Create"
        style="height: min-content; width:100%; max-width: 200px; align-self: self-end;">
        Thêm quyền mới
    </a>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th style="width: 33%;">
                Mã quyền
            </th>
            <th style="width: 33%;">
                Tên quyền
            </th>
            <th style="width: 33%;">
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @i.Id
                </td>
                <td>
                    @i.Name
                </td>
                <td>
                    <a asp-action="DeleteConfirm" asp-route-roleId="@i.Id">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>