@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
}

<h1 style="align-self: self-end;">
    @ViewData["Title"]
</h1>

<hr />

<div class="row no-gutters">
    <a class="btn btn-primary text-white mb-3 mr-2" asp-action="Create"
        style="height: min-content; width:100%; max-width: 250px; align-self: self-end;">
        Thêm quyền mới
    </a>
    <a class="btn btn-primary text-white mb-3 mr-2"
        style="height: min-content; width:100%; max-width: 250px; align-self: self-end;">
        Thêm quyền cho người dùng
    </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th style="width: 33%;">
                Mã quyền
            </th>
            <th style="width: 33%;">
                Tên quyền
            </th>
            <th style="width: 33%;">
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @i.Id
                </td>
                <td>
                    @i.Name
                </td>
                <td>
                    <a asp-action="DeleteConfirm" asp-route-roleId="@i.Id">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>