@{
    ViewData["Title"] = "Trang dành cho quản trị viên";
}

<h1>
    @ViewData["Title"]
</h1>
<hr>

<div>
    <a asp-action="ListOfFilms" class="btn btn-primary mt-3 mb-3" style="width: 200px;">
        Phim
    </a>
</div>
<div>
    <a asp-action="Index" asp-controller="Role" class="btn btn-danger mt-3 mb-3" style="width: 200px;">
        Quyền truy cập
    </a>
</div>